
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
}
.container {
    display: flex;
    height: 100vh;
    width: 100%;
}
.left-panel, .right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.left-panel {
    background: linear-gradient(to bottom right, #115D4C, #23C39E);
    color: white;
    text-align: center;
}
.left-panel h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.left-panel p {
    font-size: 16px;
    margin-bottom: 40px;
}
.left-panel button {
    background: transparent;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.right-panel button {
    color: #23C39E;
    background: transparent;
    border: 2px solid #23C39E;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
    
}
.right-panel {
    background-color: white;
    text-align: center;
}
.right-panel h1 {
    font-size: 48px;
    color: #23C39E;
    margin-bottom: 20px;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #23C39E;
    border: 2px solid #23C39E;
    border-radius: 50%;
    padding: 10px;
    text-decoration: none;
}
.social-icons img {
    width: 24px;
    height: 24px;
}
.right-panel p {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 20px;
    position: relative;
}
.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    padding-left: 45px;

    
}
.input-group img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    padding-left: 45px;
    
}

.input-group input:focus {
    outline: 0;
}

.input-group.success input {
    border-color: #09c372;
}

.input-group.error input {
    border-color: #ff3860;
}

.input-group .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}